@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

body {
  @apply max-lg:text-sm bg-white dark:bg-zinc-950 font-Ubuntu text-gray-900 dark:text-gray-200;
}

h1,
h2,
h3,
h4 {
  @apply text-slate-800 dark:text-gray-100 font-medium mb-4;
}

h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}

/* h3 {
  @apply text-lg;
} */

h4 {
  @apply text-base;
}

p {
  @apply text-gray-900 dark:text-gray-300 font-normal;
}

p:not(:last-of-type) {
  @apply mb-5;
}

.container > div {
  @apply w-full;
}

/* main {
  @apply pb-14;
} */

.sidebar-layout main {
  @apply md:w-[calc(100%-310px)] lg:w-[calc(100%-380px)];
}

.header {
  @apply flex sticky top-0 z-50 border-b border-gray-700 bg-gray-900;
}

.nav-collapse {
  @apply w-full transition md:w-auto max-md:w-full max-md:absolute max-md:left-0 max-md:top-[80px] z-20 max-md:bg-slate-900 max-md:border-t duration-200 origin-top max-md:border-t-gray-700 md:flex-row;
}

.sidebar {
  @apply sticky h-max top-32 w-full md:w-[280px] lg:w-[350px] mt-10 md:mt-[91px] lg:mt-[125px] flex flex-col gap-8;
}

.sidebar-block-title {
  @apply text-lg tracking-wider font-medium p-3 border-b border-gray-300 dark:border-slate-400 text-slate-800 dark:text-gray-200 bg-gray-200 dark:bg-zinc-700;
}

.sidebar-block-link {
  @apply block tracking-wider text-sm lg:text-base lg:hover:bg-blue-600/40 transition duration-75 hover:duration-100 ease-in p-3 py-[10px] border-b border-dashed last:border-0 border-slate-400 dark:border-slate-500 text-slate-800 dark:text-gray-200;
}

.label {
  @apply text-slate-800 dark:text-gray-100 tracking-wide;
}

.label-optional {
  @apply text-sm text-slate-800 dark:text-gray-300;
}

.input-group {
  @apply flex flex-col gap-3 mb-3 lg:mb-8;
}

.input-field {
  @apply px-3 py-2 w-full flex outline-none focus:ring-1 focus:ring-inset focus:ring-blue-500 text-slate-800 dark:text-gray-200 disabled:cursor-not-allowed disabled:bg-gray-300 dark:disabled:bg-gray-500 rounded;
}

.card {
  @apply rounded-md text-white bg-gray-100 dark:bg-zinc-900 bg-clip-padding border border-gray-300 dark:border-zinc-700 mb-5 overflow-hidden;
}

.card-body {
  @apply p-5;
}

.card-result {
  @apply flex flex-col gap-4;
}

.card-result-items {
  @apply flex items-center justify-between;
}

.card-result-items .text {
  @apply max-sm:text-sm text-slate-800 dark:text-gray-200 !m-0;
}

.card-result-items .h1 {
  @apply text-xl m-0 font-medium text-slate-800 dark:text-gray-200;
}

.para {
  @apply text-gray-900 dark:text-gray-300 leading-7;
}

.dev-image-clip {
  @apply h-full relative w-[210px] max-xl:w-full rounded-md overflow-hidden;
  flex: 0 0 210px;
}

.social-links a {
  @apply flex items-center text-xs gap-[10px] text-slate-100 px-2 py-[3px] rounded-[5px] transition-all duration-300;
}

.social-links a svg {
  @apply w-3 h-3;
}

.social-links a span {
  @apply relative before:absolute before:w-[1px] before:top-[2px] before:bottom-[2px] before:-left-[6px] before:bg-slate-300 before:opacity-50 block;
}

.reveal-right {
  @apply relative after:absolute after:top-0 after:right-0 after:w-full after:h-full after:bg-gray-50 dark:after:bg-zinc-950 after:delay-200 after:animate-revealRight;
}

@keyframes revealRight {
  100% {
    width: 0;
  }
}

.highlight {
  @apply !text-blue-700 dark:!text-orange-500;
}

code {
  @apply p-4 border dark:border-slate-600 my-3 block bg-gray-100 dark:bg-slate-800 rounded-md;
}

table {
  @apply min-w-full leading-normal border dark:border-gray-800 bg-gray-100 dark:bg-slate-800 rounded-md border-separate border-spacing-0;
}

table thead th {
  @apply px-3 py-3 dark:border-gray-600 text-left font-medium tracking-wider first:rounded-tl-md border-b-0 last:rounded-tr-md border only:rounded-t-md;
}

table tbody tr:last-child td {
  @apply first:rounded-bl-md last:rounded-br-md border-b;
}

table tbody td {
  @apply px-3 py-2 border dark:border-gray-600 border-b-0;
}

table th:not(:first-child),
table td:not(:first-child) {
  @apply border-l-0;
}

.ct-series-a .ct-slice-donut {
  @apply !stroke-blue-500;
}

.ct-series-b .ct-slice-donut {
  @apply !stroke-pink-500;
}

.ct-series-c .ct-slice-donut {
  @apply !stroke-cyan-500;
}

.legend span {
  @apply inline-block w-4 h-4 rounded-sm;
}

.type-a {
  @apply bg-blue-500;
}

.type-b {
  @apply bg-pink-500;
}

.type-c {
  @apply bg-cyan-500;
}

.ct-label {
  @apply !text-gray-50 !fill-gray-50;
}
