@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

body {
  @apply bg-gray-50 dark:bg-zinc-950 font-Ubuntu text-gray-900 dark:text-gray-200;
}

h1,
h2,
h3,
h4 {
  @apply text-slate-800 dark:text-gray-100 font-medium;
}

p {
  @apply text-gray-900 dark:text-gray-300;
}

p:not(:last-of-type) {
  @apply mb-5;
}

.container > div {
  @apply w-full;
}

.sidebar-layout main {
  @apply md:w-[calc(100%-310px)] lg:w-[calc(100%-380px)];
}

.sidebar {
  @apply sticky h-max top-32 w-full md:w-[280px] lg:w-[350px] mt-10 md:mt-[116px] flex flex-col gap-8;
}

.header {
  @apply flex sticky top-0 z-50 border-b border-gray-700 bg-gray-900;
}

.nav-collapse {
  @apply w-full transition md:w-auto max-md:w-full max-md:absolute max-md:left-0 max-md:top-[80px] z-20 max-md:bg-slate-900 max-md:border-t duration-200 origin-top max-md:border-t-gray-700 md:flex-row;
}

.sidebar-block-title {
  @apply text-lg tracking-wider font-semibold p-3 border-b border-slate-400 text-slate-800 dark:text-gray-200;
}

.sidebar-block-link {
  @apply block tracking-wider text-sm lg:text-base lg:hover:bg-blue-600/50 lg:hover:text-gray-200 transition duration-75 hover:duration-100 ease-in p-3 border-b border-dashed last:border-0 border-slate-400 text-slate-800 dark:text-gray-200;
}

.label {
  @apply text-slate-800 dark:text-gray-100 tracking-wide;
}

.label-optional {
  @apply text-sm text-slate-800 dark:text-gray-300;
}

.input-group {
  @apply flex flex-col gap-3 mb-3 lg:mb-8;
}

.input-field {
  @apply px-3 py-2 w-full flex pr-7 outline-none ring-1 ring-gray-500 font-medium focus:ring-2 focus:ring-inset focus:ring-blue-500 text-slate-800 dark:text-gray-200 disabled:cursor-not-allowed disabled:bg-gray-300 rounded;
}

.card {
  @apply rounded-md p-5 text-white dark:bg-zinc-900 bg-clip-padding border  bg-gray-200 border-gray-300 dark:border-zinc-700;
}

.card-result-items {
  @apply flex items-center justify-between;
}

.card-result-items .text {
  @apply max-sm:text-sm text-slate-800 dark:text-gray-200;
}

.card-result-items .h1 {
  @apply text-xl font-medium text-slate-800 dark:text-gray-200;
}

.para {
  @apply text-gray-900 dark:text-gray-300 leading-7;
}
